
body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative; /* Add this line to make the body a positioning context */
}

.login-container {
    text-align: center;
    position: relative; /* Add this line to make the container a positioning context */
    z-index: 5; /* Add this line to set z-index for the container */
  

}

.logo img {
    width: 400px; /* Adjust width as needed */
    position: fixed; /* Add position fixed to enable positioning */
    top: 45%; /* Position the top edge of the image at the vertical center of the viewport */
    left: 50%; /* Position the left edge of the image at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Move the image up by 50% of its own height and left by 50% of its own width to center it */
}


#playButton {
    font-family: "Arial", sans-serif; 
    font-weight: bold;
    position: fixed; /* Add this line to position the play button */
    top: 80%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%); /* Center the button */
    background-color: #ffbf00;
    color: #e5ebff;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition for transform */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#playButton:active {
    top: 80.5%; 
}


#playButton:hover {
    background-color: #ffa218;
    transform: scale(1.1) translateX(-45%); /* Scale the button and keep it centered */
}
/* From : TeenageProgrammer */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(1px);
    pointer-events: none;
}

.container nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    height: 100px;
    align-items: center;
}



.textBox .homeBtn{
    font-family: 'Poppins';
    padding: 8px 18px;
    margin: 16px 12px;
    font-size: 26px;
    background-color: transparent;
    color: var(--i);
    outline: none;
    border: 3px solid var(--i);
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    font-weight: 600;
}

.textBox .homeBtn:hover{
    background-color: var(--i);
}

.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #146aa7a5;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox {
    filter: brightness(1.1);
    transition: 1.5s ease; /* Tagal ng pag fade ng boxes */
    position: relative;
    margin: 5px; /* Layo ng box sa iba */
    padding: 10px; 
    width: 110px; 
    height: 70px; 
    background: #0000ff29; /* Color ng box */
    border-radius: 10px;
}



.colorBox:hover{
    background: #ffffff90;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    width: 100%;
    height: 20px;
    background: #0011ff;
    filter: blur(40px);
    animation: animBack 6s linear infinite;
}



@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}