
body {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative; 
}

.login-container {
    text-align: center;
    position: relative; 
    z-index: 5; 
  

}

.logo img {
    width: 400px; 
    position: fixed; 
    top: 45%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}


#playButton {
    font-family: "Arial", sans-serif; 
    font-weight: bold;
    position: fixed; 
    top: 80%; 
    left: 50%;
    transform: translate(-50%); 
    background-color: #ffbf00;
    color: #e5ebff;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

#playButton:active {
    top: 80.5%; 
    cursor: progress;
}


#playButton:hover {
    font-weight:bolder;
    background-color: #ffb341;
    transform: scale(1.1) translateX(-45%);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 1.0);
}
/* From : TeenageProgrammer - MODIFIED BY OUR TEAM */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(1px);
    pointer-events: none;
}

.container nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 40px;
    height: 100px;
    align-items: center;
}


.textBox .homeBtn{
    font-family: 'Poppins';
    padding: 8px 18px;
    margin: 16px 12px;
    font-size: 26px;
    background-color: transparent;
    color: var(--i);
    outline: none;
    border: 3px solid var(--i);
    border-radius: 4px;
    cursor: pointer;
    pointer-events: all;
    transition: .3s;
    font-weight: 600;
}

.textBox .homeBtn:hover{
    background-color: var(--i);
}

.bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #146aa7a5;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox {
    filter: brightness(1.1);
    transition: 1.5s ease; /* Tagal ng pag fade ng boxes */
    position: relative;
    margin: 5px; /* Layo ng box sa iba */
    padding: 10px; 
    width: 110px; 
    height: 70px; 
    background: #0000ff29; 
    border-radius: 10px;
}



.colorBox:hover{
    background: #ffffffdd;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    width: 100%;
    height: 20px;
    background: #0011ff;
    filter: blur(40px);
    animation: animBack 6s linear infinite;
}



@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}