* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 16px;
}

.wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 42%;
  left: 50%;
}

.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  justify-content: center;
  align-items: center;
}

.button-option {
  background: #ffffff;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 5px;
  font-family: "Arial", sans-serif;
  font-size: 10vmin;
  font-weight: bolder;
  color: #d161ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.button-option:hover,
#Back:hover,
.restart-style:hover {
  transform: scale(1.05);
  font-weight: bolder;
}

.button-option:active,
.restart-style:active {
  transform: scale(1);
}

.popup {
  background: linear-gradient(135deg, #68c0ff, #1f48ff);
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 12vmin;
}

#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  background-color: #0a0027;
  color: #ffffff;
  border-radius: 0.2em;
  border: none;
}

#message {
  color: #ffffff;
  text-align: center;
  font-size: 1em;
}

.popup.hide {
  display: none;
}

.restart-style,
#Back {
  font-size: 2vw;
  padding: 1em;
  border-radius: 8px;
  background-color: #0a0027;
  color: #ffffff;
  cursor: pointer;
  border: none;
  position: fixed;
  transform: translateX(-50%);
  writing-mode: vertical-rl;
  white-space: nowrap;
  display: block;
}

.restart-style {
  top: 78%;
  left: 34.5%;
  rotate: -90deg;
}

#Back {
  top: 80.1%;
  left: 60%;
  rotate: -90deg;
  text-decoration: none;
}

.restart-style,
#Back {

  transform: scale(1.1) ;
 
}